* {
  box-sizing: border-box;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
}

body {
  background-color: #f0f1ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
}

p,
span {
  font-size: 17px;
  text-align: justify;
}

h2,
h3 {
  margin-top: 0px;
}

h3 {
  margin-bottom: 10px;
}

.important {
  font-size: 18px;
  font-weight: bold;
  color: #3b82f6;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f1ea;
  width: 1000px;
  margin-bottom: 10vh;
}

.section {
  background-color: white;
  padding: 10px;
}

.description {
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 10px 30px;
  width: 1020px;
}

.wrapper {
  background-color: white;
  border-radius: 7px;
  padding: 10px 20px;
}

.h-section {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.vega-viz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}

h2 {
  margin-bottom: 10px;
}

.red {
  color: #bd0026;
}

.yellow {
  color: #f2d140;
}

.darkblue {
  color: #045a8d;
}

.lightblue {
  color: #5e91bf;
}

.lightblue2 {
  color: #9dc3de;
}

.brown {
  color: #ca8861;
}

.purple {
  color: #8413bd;
}
